<%- include("header") -%>


<form action="/venues/<%=venue._id%>/creategig" method="post">
  <div class="form-group">
    <label>New Gig at <%= venue.venueName %></label>
    <input type="date" class="form-control" name="newGigDate" value="" placeholder="Date">
    <input type="text" class="form-control" name="newGigGenre" value="" placeholder="Genre">
    <input type="hidden" name="venueID" value="<%=venue._id%>">
    <input type="hidden" name="venueName" value="<%=venue.venueName%>">
    <button type="submit" class="btn btn-primary" name="button">Create Gig</button>
  </div>
</form>


<%- include("footer") -%>
