<%- include("header") -%>


<% venueList.forEach(function(venue){ %>

  <div class="card">
    <div class="card-body">
      <a href="/venues/<%=venue.venueName%>"><%= venue.venueName%></a>
      <p class="card-text"><%= venue.address%></p>
      <p class="card-text"><%= venue.bookingEmail%></p>
      <p class="card-text"><%= venue.venueWebsite%></p>
    </div>
  </div>

<%})%>



<%- include("footer") -%>
